.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
@media (max-width: 991px) {
  .similar_card {
    border-radius: 10px;
    width: 90%;
    list-style-type: none;
  }
}
@media (min-width: 992px) {
  .similar_card {
    border-radius: 10px;
    width: 45%;
    list-style-type: none;
  }
}
